<ion-header>
  <ion-toolbar padding center text-center color="primary">
    <ion-title>Saldo</ion-title>
    <b>{{saldo  | currency:'BRL':'symbol':'0.2-2':'pt'}}</b>
  </ion-toolbar>
</ion-header>
  
<ion-content color="light">
 
  <ion-list *ngFor="let lancamentos of lancamento">
    <ion-item-sliding>
      <ion-item class="items" color = {{lancamentos.cor}}>
        <ion-label>
          <h1>{{lancamentos.descricao}}</h1>
          <h3><ion-icon  name="cash" ></ion-icon> {{lancamentos.valor | currency:'BRL':'symbol':'0.2-2':'pt'}}</h3>
          <h4><ion-icon  name="calendar" ></ion-icon>{{lancamentos.dataLancamento}}</h4>
          <h4><ion-icon  name="list" ></ion-icon>{{lancamentos.categoria.descricao}}</h4>
        </ion-label>           
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option class="items " color="light" (click)="confirmarExclusao(lancamentos)"><ion-icon size="large" color="primary" name="trash" slot="end" ></ion-icon></ion-item-option>
      </ion-item-options>

      <ion-item-options side="start">
        <ion-item-option  class="items" color="light" [routerLink] = "lancamentos.tipo == 0 ? ['./lancamentos/', lancamentos.id] : ['./despesas/', lancamentos.id]"> <ion-icon  size="large" color="primary" name="create" slot="end" ></ion-icon></ion-item-option>

      </ion-item-options>  
    </ion-item-sliding>    
  </ion-list> 
    <div id="footer"></div>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary">
          <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="navegarStatus()" color="tertiary">
            <ion-icon name="stats"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="navegarCategorias()" color="secondary">
            <ion-icon name="list"></ion-icon>
          </ion-fab-button >
          <ion-fab-button (click)="navegarDespesas()" color="danger">
            <ion-icon name="sad"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="navegarLancamentos()" color="success">
            <ion-icon  name="happy"></ion-icon>
          </ion-fab-button>          
        </ion-fab-list>        
      </ion-fab>
      <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="navegarLogin()" color="secondary">
            <ion-icon name="exit"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>

