<ion-header>
  <ion-toolbar>
    <ion-title>Boletos</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let boletos of boleto">
    <ion-item-sliding>
      <ion-item class="items">
        <ion-label>
          <h1>{{boletos.descricao}}</h1> 
          <h3>R$ {{boletos.valor}}</h3>
          <h4>Data: {{boletos.dataVencimento}}</h4>
          <h4>#{{boletos.categoria.descricao}}</h4>
        </ion-label>           
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option class="items " color="light" (click)="confirmarExclusao(boletos)"><ion-icon size="large" color="primary" name="trash" slot="end" ></ion-icon></ion-item-option>
      </ion-item-options>

      <ion-item-options side="start">
        <ion-item-option  class="items" color="light" [routerLink] = "['./cadastro/', boletos.id]"> <ion-icon  size="large" color="primary" name="create" slot="end" ></ion-icon></ion-item-option>

      </ion-item-options>  
    </ion-item-sliding>    
  </ion-list> 

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button [routerLink]="['./cadastro']" name="add" color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

</ion-fab>
<ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button [routerLink]="['/ambiente']" color="secondary">
        <ion-icon name="exit"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
