<ion-header>
  <ion-toolbar>
    <ion-title>Status</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <h1>Em breve disponivel</h1>
    <h2>Na versão 0.0.2</h2>
  </div>
  <ion-grid>
      <ion-row>
        <ion-col size-xs="7" size-sm="8" size-md="6" >
          Estamos no momento trabalhando para evoluir o App a ponto de ser utilizado definitivamente por você, que busca controle financeiro.
        </ion-col>
        <ion-col size-xs="5" size-sm="4" size-md="6">
          Agradecemos imensamente pelo fato de estar avaliando nosso App e se registrando para saber de todas as novidades.
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            Qualquer duvida entre em contato conosco pelo telefone (48) 9 9999-9999 Falar com o Administrador do App FinApp
          </ion-col>
          <ion-col>
            Será um imenso prazer atendelo e saber no que podemos melhorar, sujestões e criticas são sempre bem vindas! 
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
