<ion-header>
  <ion-toolbar text-center color="danger">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label  text-center color="danger">
        <h1>Despesas</h1>
    </ion-label>
    <ion-item>
        <ion-input [(ngModel)]="despesa.descricao" type="text" placeholder="Descricao"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input [(ngModel)]="despesa.valor" type="number" placeholder="R$ 0,00"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Data</ion-label>
          <ion-datetime [(ngModel)]="despesa.dataLancamento" displayFormat="DD/MMM/YYYY" value="24/11/2019" placeholder="24/11/2019"></ion-datetime>
      </ion-item>
      <ion-item >
        <ion-label>Categoria</ion-label>
          <ion-select [(ngModel)]="despesa.categoria">
            <ion-select-option *ngFor="let c of categorias" [value]="c">
              {{c.descricao}}
            </ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button (click)="salvar()" name="add" color="success">
              <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
      </ion-fab>
      <ion-fab horizontal="start" vertical="bottom" slot="fixed">
          <ion-fab-button (click)="ambiente()" color="secondary">
              <ion-icon name="exit"></ion-icon>
          </ion-fab-button>
        </ion-fab>  
</ion-content>
