<ion-header>
  <ion-toolbar text-center color="secondary">   
    <ion-title>Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div text-center>
  <form (ngSubmit)="salvar()">
    
    <ion-input placeholder="Digite a descrição da categoria" [(ngModel)]="categoria.descricao" [ngModelOptions]="{standalone: true}"></ion-input>   
    <ion-button color="danger" routerLink="/categorias">Cancelar</ion-button>
    <ion-button type="submit" color="success">Salvar</ion-button>
</form>
</div>
</ion-content>

