<ion-header>
  <ion-toolbar text-center color="success">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label  text-center color="success">
            <h1>Lançamentos</h1>
        </ion-label>
    
  <ion-item> 
    <ion-input [(ngModel)]="lancamento.descricao" type="text" placeholder="Descrição"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="lancamento.valor" type="number" placeholder="R$ 0,00" [value]="valor"></ion-input>
  </ion-item>  
      <ion-item>
        <ion-label color="primary">Data</ion-label>
          <ion-datetime [(ngModel)]="lancamento.dataLancamento" displayFormat="DD/MMM/YYYY" value="24/11/2019" placeholder="24/11/2019"></ion-datetime>
      </ion-item>

    <ion-item >
          <ion-label>Categoria</ion-label>
          <ion-select [(ngModel)]="lancamento.categoria">
            <ion-select-option *ngFor="let c of categorias" [value]="c">
              {{c.descricao}}
            </ion-select-option>
          </ion-select>
    </ion-item>
 
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button (click)="salvar()" name="add" color="success">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
  </ion-fab>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button (click)="ambiente()" color="secondary">
          <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
    </ion-fab>   

</ion-content>
