$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  vibrant:    rebeccapurple,
  bright:     #ffc125,
  blues:      #32d7ef94
);

.items{
    border-radius: 10px;
}
