<ion-header>
  <ion-toolbar text-center color="secondary">
  <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
    <ion-label text-center color="secondary">
        <h1>Categorias</h1>
    </ion-label>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button routerLink="/categoria" name="add" color="success">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>

  </ion-fab>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button routerLink="/ambiente" color="secondary">
          <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <ion-list *ngFor="let c of categorias">      
      <ion-item>
        <ion-label>
          <h1>{{c.descricao}}</h1>
        </ion-label>           
      </ion-item> 
  </ion-list>
  
</ion-content>