<ion-header>
  <ion-toolbar  text-center color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label padding text-center color="primary">
      <h1>Registre-se</h1>
  </ion-label>
     <ion-item>
        <ion-label color="primary" position="floating" >Nome</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label color="primary" position="floating" >Usuário</ion-label>
        <ion-input type="text"  [(ngModel)]="usuario.usuario"></ion-input>      
    </ion-item>
    
    <ion-item>
        <ion-label color="primary" position="floating" >Senha</ion-label>
        <ion-input type="password"[(ngModel)]="usuario.senha"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary">Nascimento</ion-label>
        <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="usuario.nascimento" value="01/01/2000" placeholder="Selecione a data"></ion-datetime>
    </ion-item>
  <ion-list>
        <ion-radio-group [(ngModel)]="usuario.sexo" >
            <ion-list-header>
                <ion-label color="primary">
                  <h2>Sexo</h2>
                </ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Feminino</ion-label>
                <ion-radio  slot="start" value="F" checked ></ion-radio>
              </ion-item>

              <ion-item>
                  <ion-label>Masculino</ion-label>
                  <ion-radio slot="start" value="M" ></ion-radio>
                </ion-item>
                
                <ion-item>
                  <ion-button color="warning" expand="block" (click)="showToast()">
                        Termos de uso
                    </ion-button>
                    <ion-toggle [(ngModel)]="isToggled" name="concordar"></ion-toggle>
                    <ion-label>Concordo</ion-label>
                </ion-item>

        </ion-radio-group>
    </ion-list> 

  <div text-center>
  <ion-button (click)="voltar()"color="primary">Voltar</ion-button>
  <ion-button class="finalizar" (click)="salvar()" [disabled]="!isToggled" color="success" >Registrar</ion-button>
  </div>
</ion-content>
