
<ion-header>
<ion-toolbar color="primary">
</ion-toolbar>
</ion-header>
<ion-content padding center text-center color="light">
    <img src="https://i.imgur.com/HFQ2Tvw.png" alt="logo"> 
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12">
          <ion-item >
              <ion-label color="primary" position="floating">Usuario</ion-label>
              <ion-input ng-model="usuario"></ion-input>
            </ion-item>
          <ion-item>
              <ion-label color="primary" position="floating">Senha</ion-label>
              <ion-input type="password" ng-model="senha"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> 
<ion-button (click)="entrar()" (click)="showLoading()" expand="block" >Entrar</ion-button>
<ion-button (click)="navegar()" color="success"expand="block" >Registrar-se</ion-button>
<ion-footer size-xd="2" size-md="2" size-sm="2" color="danger">
    <ion-toolbar>
      <ion-title size="small">
        V 0.0.1
      </ion-title>
    </ion-toolbar>
  </ion-footer>
