<ion-header>
<ion-toolbar color="primary">
</ion-toolbar>
</ion-header>
<ion-content padding center text-center color="light">
    <img src="https://i.imgur.com/HFQ2Tvw.png" alt="logo"> 
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="8" size-md="6">
          <ion-item>
              <ion-label color="primary" position="floating">Login</ion-label>
              <ion-input></ion-input>
            </ion-item>
          <ion-item>
              <ion-label color="primary" position="floating">Senha</ion-label>
              <ion-input type="password"></ion-input>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> 
<ion-button expand="block" >Entrar</ion-button>
<ion-button color="success"expand="block" >Registrar-se</ion-button>
